body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
}
.row, .clearfix {
	zoom: 1; 
	&:before, &:after {
		content: '\0020';
		@include hidden;
	}
}
.clear {
	@include hidden;
}
@-ms-viewport {
 	width: device-width;
}
#nav-collapse {
	display: none;
}