.full {
	width: 100%;
	position: relative;
	margin: 0;
	padding: 10px 0;
	&:after {
		@include hidden;
	}
}
.container{
	position: relative;
	margin: 0 auto;
	width: $container-width;
	&:after { 
		content: "\0020"; 
		@include hidden;
	}
	@media (min-width: $lg-container-width) {
		width: $lg-container-width;
	}
	@media (min-width: $md-container-width) and (max-width: $container-width) {
		width: $md-container-width;
	}
	@media (max-width: $md-container-width - 1) {
		width: 100%;
	}
}
.row{
	margin-bottom: 20px;
	min-height: 20px;
	overflow: hidden;
}
[class^="col"] {
	div {
		padding: 10px;
	}
}
@include grid(1,2,3,4,5,6,7,8,9,10,11,12);
@include offset(1,2,3,4,5,6,7,8,9,10,11);