.row{
	margin-bottom: 20px;
	min-height: 20px;
}
.container{
	position: relative;
	margin: 0 auto;
	width: $container-width;
	&:after { 
		content: "\0020"; 
		@include hidden;
	}
	@media (min-width: $lg-container-width) {
		width: $lg-container-width;
	}
}
@include grid(1,2,3,4,5,6,7,8,9,10,11,12);

