//PRIMARY AND SECONDARY COLORS
$primary-color: gray;
$secondary-color: white;

$col-color: blue;

//CREATE BREAKPOINTS FOR RESPONSIVE GRID
$md-container-width: 768px; 	  //DEFAULT TABLET SIZE 768px
$container-width: 960px;		  //DEFAULT STANDARD SIZE 960px
$lg-container-width: 1200px;	  //DEFAULT LARGE SCREEN 1200px



//**GRID FORMULAS
$grid-margin: $container-width * 0.010416666;
$grid-space: $grid-margin * 2;
$grid-offset: $grid-margin * 3;

$md-grid-margin: $grid-margin;
$md-grid-space: $grid-margin * 2;
$md-grid-offset: $grid-margin * 3;

$lg-grid-margin: $grid-margin;
$lg-grid-space: $lg-grid-margin * 2;
$lg-grid-offset: $lg-grid-margin * 3;
