//CREATE BREAKPOINTS
$container-width: 960px;
$lg-container-width: 1200px;

$grid-margin: $container-width * 0.010416666;
$grid-space: $grid-margin * 2;
$grid-offset: $grid-margin * 3;
$lg-grid-margin: $grid-margin;
$lg-grid-space: $lg-grid-margin * 2;
$lg-grid-offset: $lg-grid-margin * 3;

$col-color: blue;