@mixin hidden {
	visibility: hidden;
	overflow: hidden;
	clear: both;
	display: block;
	width: 0;
	height: 0;
}

@mixin grid($columns...) {
	@each $column in $columns {
		$i: 1;
		$grid-add: 0;
		$lg-grid-add: 0;
		$md-grid-add: 0;
		@while $i < $column {
			$i: $i + 1;
		}
		@if $i > 1 {
			$grid-add: ($i - 1) * $grid-space;
			$lg-grid-add: ($i - 1) * $lg-grid-space;
			$md-grid-add: ($i - 1) * $md-grid-space;
		}
		$column-width: $column * 0.0625;
		$grid: $container-width * $column-width + $grid-add;
		$lg-column-width: $column * 0.066666666666667;
		$lg-grid: $lg-container-width * $lg-column-width + $lg-grid-add;
		$md-column-width: $column * 0.055555555555556;
		$md-grid: $md-container-width * $md-column-width + $md-grid-add;
		.col#{$column} {
			width: $grid;
			height: 100%;
			float: left;
			background: $column-bg;
			margin: 0 $grid-margin;
			color: $column-text-color;
			// text-align: center;
			@media (min-width: $lg-container-width) {
				width: $lg-grid;
				margin: 0 $lg-grid-margin;
			}
			@media (min-width: $md-container-width) and (max-width: $container-width - 1) {
				width: $md-grid;
				margin: 0 $md-grid-margin;
			}
			@media (max-width: $md-container-width - 1) {
				width: 100%;
				margin: 0 0 20px;
			}
		}
	}
}

@mixin offset($offsets...) {
	@each $offset in $offsets {
		$i: 1;
		$grid-add: 0;
		$lg-grid-add: 0;
		$md-grid-add: 0;
		@while $i < $offset {
			$i: $i + 1;
		}
		@if $i > 1 {
			$grid-add: ($i - 1) * $grid-space;
			$lg-grid-add: ($i - 1) * $lg-grid-space;
			$md-grid-add: ($i - 1) * $md-grid-space;
		}
		$column-width: $offset * 0.0625;
		$grid: $container-width * $column-width + $grid-add;
		$lg-column-width: $offset * 0.066666666666667;
		$lg-grid: $lg-container-width * $lg-column-width + $lg-grid-add;
		$md-column-width: $offset * 0.055555555555556;
		$md-grid: $md-container-width * $md-column-width + $md-grid-add;
		.offset#{$offset} {
			margin-left: $grid + $grid-offset;
			@media (min-width: $lg-container-width) {
				margin-left: $lg-grid + $grid-offset;
			}
			@media (min-width: $md-container-width) and (max-width: $container-width - 1) {
				margin-left: $md-grid + $grid-offset;
			}
		}
	}
}
@mixin gradient-bg($primary-color, $primary-bg-gradient-second-color) {
	background: $primary-color;
	background: -moz-linear-gradient(top,  $primary-color 50%, $primary-bg-gradient-second-color 100%) no-repeat $primary-bg-gradient-second-color;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,$primary-color), color-stop(100%,$primary-bg-gradient-second-color)) no-repeat $primary-bg-gradient-second-color;
	background: -webkit-linear-gradient(top,  $primary-color 50%,$primary-bg-gradient-second-color 100%) no-repeat $primary-bg-gradient-second-color;
	background: -o-linear-gradient(top,  $primary-color 50%,$primary-bg-gradient-second-color 100%) no-repeat $primary-bg-gradient-second-color;
	background: -ms-linear-gradient(top,  $primary-color 50%,$primary-bg-gradient-second-color 100%) no-repeat $primary-bg-gradient-second-color;
	background: linear-gradient(to bottom,  $primary-color 50%,$primary-bg-gradient-second-color 100%) no-repeat $primary-bg-gradient-second-color;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$primary-color', endColorstr='$primary-bg-gradient-second-color',GradientType=0 ) no-repeat $primary-bg-gradient-second-color;
}
@mixin footer-bg($footer-bg) {
	$secondary-footer-bg: darken($footer-bg, 10%);
	background: $footer-bg;
	background: -moz-linear-gradient(top,  $footer-bg 50%, $secondary-footer-bg 100%) no-repeat $secondary-footer-bg;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,$footer-bg), color-stop(100%,$secondary-footer-bg)) no-repeat $secondary-footer-bg;
	background: -webkit-linear-gradient(top,  $footer-bg 50%,$secondary-footer-bg 100%) no-repeat $secondary-footer-bg;
	background: -o-linear-gradient(top,  $footer-bg 50%,$secondary-footer-bg 100%) no-repeat $secondary-footer-bg;
	background: -ms-linear-gradient(top,  $footer-bg 50%,$secondary-footer-bg 100%) no-repeat $secondary-footer-bg;
	background: linear-gradient(to bottom,  $footer-bg 50%,$secondary-footer-bg 100%) no-repeat $secondary-footer-bg;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$footer-bg', endColorstr='$secondary-footer-bg',GradientType=0 ) no-repeat $secondary-footer-bg;
}